.hero {
    background: whitesmoke;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6rem 1rem;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    color: #2c3e50;
    font-size: 3.5rem;
    margin-bottom: 0;
}

/* Search container */
.search-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin: 1rem 0;
}

.search-box, .location-box {
    display: flex;
    background: var(--white);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: none;
    height: 57.5px;
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
}

.search-box {
    border: 3px solid #2c3e50;
    border-radius: 8px 8px;
}

.location-box {
    border: 3px solid #2c3e50;
    border-radius: 8px 8px;
}

.search-box input, .location-box input{
    flex: 1;
    padding: 0.92rem 1.725rem;
    border: none;
    font-size: 1.035rem;
    outline: none;
    height: 100%;
}

.search-btn {
    background: #2c3e50;
    color: var(--white);
    border: none;
    padding: 0.92rem 2.3rem;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s ease;
    margin-left: auto;
    height: 100%;
    min-width: 138px;
    border-radius: 0 10px 0;
}
.location-btn {
    background: #2c3e50;
    color: var(--white);
    border: none;
    padding: 0.92rem 2.3rem;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s ease;
    margin-left: auto;
    height: 100%;
    min-width: 138px;
   
}

.search-btn:hover, .location-btn:hover {
    background: #333333;
}

.hero-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 300;
    text-align: center;
    color: #2c3e50;
    margin-top: 1rem;
}

/* Add this if you want specific words to stand out */
.hero-text strong {
    font-weight: 400;
    color: #000;
}
